{% extends 'main_shop.html' %}

{% block content %}

<div class="main-wrapper">
    <div class="container">
        <!-- BREADCRUMB LINKS -->
        <div class="shop-links-container">
            <a class="shop-links" href="{% url 'shop' %}">Shop</a> / <a class="shop-links" href="{% url 'shop' %}?q={{product.Cat_Name}}">{{product.Cat_Name}}</a> / <a id="current-link" href="">{{product.Prod_Name}}</a>
        </div>

        <!-- GO BACK LINK -->
        <div class="go-back">
            <a href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-arrow-left"></i> Go back</a>
        </div>

        <!-- IMG AND DETAILS CONTAINER -->
        <div class="shop-indiv-prod-container">
            <!-- IMAGE -->
            <div class="shop-img-container">
                {% if product.Prod_Image %}<img src="{{product.Prod_Image.url}}" class="shop-indiv-prod-img" />{% endif %}
            </div>

            <!-- PRODUCT DETAILS -->
            <div class="shop-indiv-prod-details">
                <!-- PRODUCT NAME -->
                <div class="details-prodname">
                    <h2>{{product.Prod_Name}}</h2>
                </div>

                <!-- PRICE -->
                <div class="details-price">
                    <label id="price">{{product.Prod_Price|floatformat:2}}</label>
                </div>
                
                <!-- DESCRIPTION -->
                <div class="details-desc">
                    <label>{{product.Prod_Desc}}</label>
                </div>
                
                <!-- STOCK QUANTITY -->
                <div class="details-stock">
                    <label>{{product.Prod_stockQty}} </label><label>in stock</label>
                </div>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" min="1" max="30" name="quantity" value="1" type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
                
                <!-- ADD TO CART -->
                <div class="details-add-to-cart">
                    <button type="submit" value="Submit">Add to Cart</button>
                </div>
            </div>
        </div>


        <!-- BROWSE OTHER PRODUCTS -->
        <div class="browse-other-prod">
            <span>Browse Other Products</span>
        </div>

        <div class="browse-grid">
            {% for product in browse %}
            <div class="indiv-browse-grid">
                <!-- IMAGE -->
                <div class="indiv-shop-images">
                    <a href="/shop/{{product.id}}">{% if product.Prod_Image %}<img src="{{product.Prod_Image.url}}" />{% endif %}</a>
                </div>
                
                <!-- PRODUCT NAME -->
                <div class="indiv-shop-prodname">
                    <a href="/shop/{{product.id}}">{{product.Prod_Name}}</a>    
                </div>
                
                <!-- PRICE -->
                <div class="indiv-shop-price">
                    <label id="price">{{product.Prod_Price|floatformat:2}} </label>    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

</div>


{% endblock content%}
