@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    body {
        background-color: #FFFAF4;
    }

    .main-wrapper {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        padding: 100px 0;
    }

    .container {
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
    }

    /***** TABLE CONTAINER *****/
    .prodtable-container {
        max-width: 800px;
        width: 100%;
        margin: 20px auto;
        padding: 40px 30px;
        box-shadow: rgba(0, 0, 0, 0.212) 1px 2px 3px;
        background-color: white;
    }

    /***** PRODUCT TITLE|FILTER|SEARCH|EXPORT *****/
    ul {
        list-style-type: none;
        padding: 0;
    }
    li.top-labels {
        display: inline-block;
    }

    .labels1 {
        float: left;
    }
    
    .labels2 {
        text-align: right;
        float: right;
    }

    /***** TABLE STYLE *****/
    table { 
        border-spacing: 1; 
        border-collapse: collapse; 
        background: white;
        overflow: hidden;
        max-width: 800px; 
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    /* TABLE HEADER */
    thead tr th {
        font-weight: 400;
        font-size: 16px;
    }
    thead tr { 
        height: 50px;
        background: #FEE2C5;
        color: #535353;
    }
    table th:first-child{
        border-radius: 8px 0 0 8px;
    }
    table th:last-child{
        border-radius: 0 8px 8px 0;
    }

    /* TABLE BODY */
    tbody tr { 
        font-family: 'Montserrat', sans-serif;
        height: 150px; 
        border-bottom:  .5px solid #c9c9c9;
    }
    tbody tr:last-child {
        border: none;
    }
    
    td, th {
        text-align: center;
        padding: 5px 10px;
    }
    .td-align-left {
        text-align: left;
    }

    /* PRODUCT IMAGE*/
    .prod-img{
        height: 80px;
        width: 80px;
        vertical-align: middle;
    }
    /* PRODUCT NAME */
    #prod-name {
        font-weight: 600;
        max-width: 100px;
        width: auto;
    }
    /* PRODUCT CATEGORY */
    #category {
        max-width: 100px;
        width: auto;
    }
    /* PRODUCT DESCRIPTION */
    #description {
        max-width: 150px;
        width: auto;
    }
    /* PRODUCT IN PESO */
    #price::before {
        content: '₱';
    }

    /* BLUE BUTTON */
    .buttons {
        font-weight: 600;
        text-align: right;
    }

    a.blue-btn:link, a.blue-btn:visited {
        background-color: #7FB5FF;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        border: solid 2px #7FB5FF;
    }
    a.blue-btn:hover, a.blue-btn:active {
        border: solid 2px #7FB5FF;
        background-color: white;
        color: #7FB5FF;
    }

    /* EXPORT BUTTON */
    #export-btn {
        font-weight: 600;
    }
    a.export-btn:link, a.export-btn:visited {
        font-size: 14px;
        background-color: #001D6E;
        color: white;
        padding: 6px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
    }
    a.export-btn:hover, a.export-btn:active {
        background-color: #002a9c;
    }
    /****** OPTION LINKS ******/
    #prod-link {
        color: black;
        text-decoration: none;
    }
    #prod-link:hover {
        color: #0645AD;
    }
    a.option-links {
        color: #0645AD;
        text-decoration: none;
    }
    a.option-links:hover {
        text-decoration: underline;
    }

    /* For mobile phones: 
    @media only screen and (max-width: 480px) {
        * { 
            font-size: 13px;
        }
        table {
            max-width: 480px;
        }
    }
*/
    @media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .td-align-left {
        text-align: right;
    }

    #prod-name {
        font-weight: normal;
    }
    #description {
        width: auto;
    }  
    .option-links {
        display: block;
    }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}