{% extends 'main_products.html' %}

{% block content %}

<div class="main-wrapper">
    <div class="container">
        <!-- BUTTONS -->
        <div class="buttons">
            <a href="{% url 'create-product' %}" class="blue-btn">+ Add Product</a>
        </div>
        <div class="prodtable-container">
            <div class="labels-container">
                
                    <!-- TITLE -->
                    <div class="labels1">
                        <h2>Products</h2>
                    </div>
                    <div class="labels2">
                        <ul>    
                            <li class="top-labels">Filter</li>
                            <li class="top-labels">
                                <form method="GET" action="{% url 'products' %}">
                                    <input type="text" name="q" placeholder="Search...">
                                </form>
                            </li>
                            <li class="top-labels"><a href="#" class="export-btn">Export Table</a></li>
                        </ul>
                    </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <!-- TABLE HEADER -->
                        <th scope="col">Product Name</th>
                        <th scope="col">ID</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Description</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <!-- TABLE BODY -->
                        <td data-label="Product Name" class="td-align-left" id="prod-name"><a href="/products/{{product.id}}" id="prod-link">
                            {% if product.insProd_Image %}<img src="{{product.insProd_Image.url}}" class="prod-img" />{% endif %}
                            {{product.insProd_Name}}</a></td>
                        <td data-label="ID">{{product.id}}</td>
                        <td data-label="Category" id="category">{{product.Cat_Name}}</td>
                        <td data-label="Price" id="price">{{product.insProd_Price|floatformat:2}}</td>
                        <td data-label="Stock">{{product.insProd_stockQty}}</td>
                        <td data-label="Description" class="td-align-left" id="description">{{product.insProd_Desc}}</td>
                        <td data-label="Options" id="options"><a href="{% url 'update-product' product.id %}" class="option-links">Edit</a><br>
                        <a href="{% url 'delete-product' product.id %}" class="option-links">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}