{% extends 'main.html' %}

{% block content %}
<div class="discount-header">
    <h2>Member Exclusive</h2>
    <p>15% OFF everything + EXTRA $10 OFF for plus status</p>
    <p>Not a member? <a href="#">Join now to shop.</a></p>
</div>

<div class="shop-wrapper">
    <div class="shop-container">
        <div>
            <!-- BROWSE CATEGORIES -->
            <h2>Categories</h2>
            <hr>
            <a href="{% url 'shop' %}"><h3>All Products</h3></a>
            {% for category in categories %}
                <div>
                    <a href="{% url 'shop' %}?q={{category.Cat_Name}}">{{category.Cat_Name}}</a>
                </div>
            {% endfor %}
        </div>
        
        <div class="prod-grid">
                {% for product in products %}
                <div class="indiv-prod-grid">
                    <!-- PRODUCT IMAGE -->
                    <a href="/shop/{{product.id}}">{% if product.insProd_Image %}<img class="shop-images" src="{{product.insProd_Image.url}}" />{% endif %}</a><br>
                    <!-- PRODUCT NAME AND PRICE -->
                    <a href="/products/{{product.id}}">{{product.insProd_Name}}</a><br>
                    {{product.insProd_Price|floatformat:2}} 
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}